{% include "./header.html" %}
<div class="body">
    <form action="{% url 'polls:vote' question.id %}" method="post">
        {% csrf_token %}
        <h1>{{ question.question_text }}</h1>
        <ul>
        {% for choice in question.choice_set.all %}
            <li>
                <input type="radio" name="choice" id="choice{{ forloop.counter }}" value="{{ choice.id }}">
                <label for="choice{{ forloop.counter }}">{{ choice.choice_text }}</label><br>
            </li>
        {% endfor %}
        </ul>
        {% if error_message %}<p class="error"><strong>{{ error_message }}</strong></p>{% endif %}
        <input class="button" type="submit" value="Vote">
    </form>
</div>
{% include "./footer.html" %}